Mvc4CSharpRazorFx45Intranet/.vs/
Mvc4CSharpRazorFx45Intranet/packages/
Mvc4CSharpRazorFx45Intranet/AspNet.Identity.MySQL/bin/
Mvc4CSharpRazorFx45Intranet/AspNet.Identity.MySQL/obj/
Mvc4CSharpRazorFx45Intranet/Mvc4CSharpRazorFx45Intranet/bin/
Mvc4CSharpRazorFx45Intranet/Mvc4CSharpRazorFx45Intranet/obj/
